@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.cardContainer{
    width: 300px;
    height: 110px;
    box-shadow: 0px 0px 5px 2px #888;
    margin-top: 8%;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    font-family: "Iran-sans-bold";
   
}
.cardContainerDrk{
    box-shadow: none;
}
.cardBody{
    font-family: "Lato";
    margin-top: 3%;
    font-size: 20px;
}