.loadingContainer{
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
   direction: rtl;
   font-family: "Peyda";
    padding: 15px;
}
.loadingContainer img{
    width: 100%;
    height: 100%;
}
.loadingContainer h3{
    margin-top: 3%;
}
.imageLoad{
    width: 150px;
    height: 150px;
}