.form{
    width: 60%;
    margin: 2% auto;
    padding: 20px 30px;
    background-color: #dfdfdf;
    border-radius: 20px;
    font-family: "Peyda";
}
.form input{
    margin-bottom: 3%;
    border-radius: 10px;
}
@media screen and (min-width:300px) and (max-width:760px){
.form{
    width: 100% !important;
    margin: 5% auto;
    
}

}